/.idea/.idea.VerticalSliceArchitecture/.idea/.gitignore
/.idea/.idea.VerticalSliceArchitecture/.idea/codeStyles/codeStyleConfig.xml
/.idea/.idea.VerticalSliceArchitecture/.idea/encodings.xml
/.idea/.idea.VerticalSliceArchitecture/.idea/indexLayout.xml
/.idea/.idea.VerticalSliceArchitecture/.idea/misc.xml
/.idea/.idea.VerticalSliceArchitecture/.idea/codeStyles/Project.xml
/.idea/.idea.VerticalSliceArchitecture/.idea/vcs.xml
